@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


.hr-line {
  @apply flex text-center justify-center items-center w-[95%] self-center mx-0 my-2.5 before:content-[""] before:h-[0.5px] before:w-full before:block before:bg-text dark:before:bg-dark-text before:mr-[5px];
}

:root,
body,
html {
  background-color: #F3F2EF;
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
ul,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;

}

body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}


html,
body,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.content {
  @apply max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8;
}